.arrow_back:hover + .arrow_forward {
  border-left: none;
  margin-left: 0;
}

.arrow_back {
  display: flex;
  align-items: center;
  border-radius: var(--s-border-radius-medium) 0 0 var(--s-border-radius-medium);
  cursor: pointer;
  background-color: var(--s-color-fill-default);
  color: var(--s-color-content-default);
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  padding: var(--s-spacing-xx-small);
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

  &:hover {
    background-color: var(--s-color-fill-default-hover);
    border: 1px solid var(--s-color-border-default-hover);
  }

  &:focus-visible {
    outline-width: var(--s-border-width-thin);
    outline-color: var(--s-color-fill-highlight);
    outline-offset: var(--s-border-width-hairline);
    outline-style: solid;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.64;
    background-color: var(--s-color-fill-disable);
    color: var(--s-color-content-disable);

    &:hover {
      background-color: var(--s-color-fill-disable);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
    }
  }
}

.arrow_forward {
  margin-left: -1px;
  cursor: pointer;
  background-color: var(--s-color-fill-default);
  color: var(--s-color-content-default);
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  padding: var(--s-spacing-xx-small);
  margin-right: -1px;
  align-items: center;
  border-radius: 0 var(--s-border-radius-medium) var(--s-border-radius-medium) 0;
  display: flex;
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

  &:hover {
    background-color: var(--s-color-fill-default-hover);
    border: var(--s-border-width-hairline) solid
      var(--s-color-border-default-hover);
  }

  &:focus-visible {
    outline-width: var(--s-border-width-thin);
    outline-color: var(--s-color-border-highlight);
    outline-offset: var(--s-border-width-hairline);
    outline-style: solid;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.64;
    background-color: var(--s-color-fill-disable);
    color: var(--s-color-content-disable);

    &:hover {
      background-color: var(--s-color-fill-disable);
      border: 1px solid var(--s-color-border-default);
    }
  }
}

.Pagination {
  .noLabel,
  .leftLabel,
  .centerLabel {
    display: flex;
  }

  .leftLabel {
    padding: var(--s-spacing-small);
    align-items: center;
    justify-content: space-between;

    p {
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
    }

    div {
      display: flex;
    }
  }

  .centerLabel {
    justify-content: space-between;
    padding: var(--s-spacing-small);
    align-items: center;

    .arrow_back {
      border-radius: var(--s-border-radius-medium);
    }

    .arrow_forward {
      border-radius: var(--s-border-radius-medium);
    }

    p {
      font: var(--s-typography-paragraph-regular);
      color: var (--s-color-content-default);
    }
  }
}
