.pcr-app .pcr-interaction .pcr-save {
  background: var(--s-color-fill-highlight) !important;
  font: var(--s-typography-label-medium) !important;
  color: var(--s-color-content-on-color) !important;
}

.pcr-app .pcr-interaction .pcr-save:hover {
  background: var(--s-color-fill-highlight-hover) !important;
  color: var(--s-color-content-on-color) !important;
  filter: none !important;
}

.pcr-app[data-theme="monolith"] {
  background-color: var(--s-color-fill-default) !important;
  padding: var(--s-spacing-xx-small) !important;
  border: var(--s-border-width-hairline) solid var(--s-color-border-default) !important;
  border-radius: var(--s-border-radius-small) !important;
}

.pcr-color-chooser {
  height: 24px !important;
}

.pcr-color-opacity {
  height: 24px !important;
}

.prc-app .pcr-interaction {
  align-items: center !important;
}

.pcr-color-preview {
  display: none !important;
}

.pcr-app .pcr-interaction {
  margin: 0px !important;
}

.pcr-app .pcr-interaction input {
  font: var(--s-typography-paragraph-regular) !important;
}

.pcr-interaction {
  display: flex !important;
  gap: var(--s-spacing-xx-small) !important;
}

.pcr-app[data-theme="monolith"] .pcr-selection {
  display: flex !important;
  align-items: center !important;
}

.pcr-hue.pcr-slider {
  position: relative;
  width: 112% !important;
  right: 12px;
}

.pcr-app .pcr-selection .pcr-picker {
  border: 4px solid white !important;
}

.pcr-color-chooser {
  width: 90% !important;
}

.pcr-picker {
  z-index: 9999;
}

.pcr-opacity.pcr-slider {
  position: relative !important;
  width: 112% !important;
  right: 12px !important;
}

.pcr-color-opacity {
  width: 90% !important;
}

.pcr-app .pcr-interaction input {
  margin-top: 0px !important;
  padding: var(--s-spacing-xx-small) var(--s-spacing-x-small) !important;
  color: var(--s-color-content-default) !important;
}

.pcr-result {
  border: var(--s-border-width-hairline) solid var(--s-color-border-default) !important;
  background-color: var(--s-color-fill-default) !important;
}

.pcr-result:hover {
  background-color: var(--s-color-fill-default-hover) !important;
}

.pcr-app .pcr-interaction input:focus {
  box-shadow: none !important;
}

.pcr-app {
  box-shadow: var(--s-shadow-level-2) !important ;
  position: relative !important;
}

.pcr-app .pcr-interaction input:focus-visible {
  outline-width: var(--s-border-width-thin) !important;
  outline-color: var(--s-color-fill-highlight) !important;
  outline-offset: var(--s-border-width-thin) !important;
  outline-style: solid !important;
}

.pickr .pcr-palette:focus,
.pickr .pcr-slider:focus,
.pcr-app .pcr-palette:focus,
.pcr-app .pcr-slider:focus {
  box-shadow: none !important;
}

.pickr .pcr-palette:focus-visible,
.pickr .pcr-slider:focus-visible,
.pcr-app .pcr-palette:focus-visible,
.pcr-app .pcr-slider:focus-visible {
  outline-width: var(--s-border-width-thin) !important;
  outline-color: var(--s-color-fill-highlight) !important;
  outline-offset: var(--s-border-width-thin) !important;
  outline-style: solid !important;
}

.color-picker-content {
  display: flex;
  align-items: center;
  width: fit-content;
}

.pcr-app .pcr-interaction > * {
  margin: 0px !important;
}

.color-picker {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);
  width: 100%;
}

.color-picker-label {
  font: var(--s-typography-label-medium);
  color: var(--s-color-content-default);
}

.pickr .pcr-button {
  width: 40px !important;
  height: 40px !important;
}

.input-content {
  gap: 0px !important;
}

.color-defined {
  color: var(--s-color-content-default) !important;
}

.color-picker-disabled {
  background-color: var(--s-color-fill-disable);
  color: var(--s-color-content-disable);
}

.input-disabled {
  background-color: var(--s-color-fill-disable) !important;
}

.input-button-disabled {
  background-color: var(--s-color-fill-disable) !important;
  opacity: 1 !important;
}

.pickr .disabled {
  display: none;
}

.color-picker-button-icon.disabled {
  display: none;
}

.color-picker-input {
  padding-left: var(--s-spacing-xx-small);
}

.color-picker-input * {
  width: 100%;
}
.pickr .pcr-button {
  border-radius: var(--s-border-radius-small) !important;
}

.pickr .pcr-button::after {
  border-radius: var(--s-border-radius-small) !important;
}

.pickr .pcr-button::before {
  border-radius: var(--s-border-radius-small) !important;
}
