.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.row {
    display: flex;
    flex-direction: row;
    gap: var(--s-spacing-xx-small);
  }

  &.column {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-xx-small);
  }
}
