.input-select-root {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);

  .input-select-label {
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .input-select-button {
    cursor: pointer;
    padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--s-border-width-hairline) solid var(--s-color-border-default);
    background-color: var(--s-color-fill-default);
    border-radius: var(--s-border-radius-medium);
    color: var(--s-color-content-placeholder);
    box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    select {
      cursor: pointer;
      width: 100%;
      background-color: transparent;
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
      height: 22px;
      &:focus {
        outline: none;
      }

      &.select-error {
        color: var(--s-color-content-warning);
      }

      option {
        cursor: pointer;
        display: flex;
        background-color: var(--s-color-fill-default);
        color: var(--s-color-content-default);
        font: var(--s-typography-paragraph-regular);
      }
    }

    select:disabled {
      cursor: default;
    }

    &.option {
      color: var(--s-color-content-default);
    }

    &.error {
      border-color: var(--s-color-border-warning);
      color: var(--s-color-content-warning);
      background-color: var(--s-color-fill-warning-light);

      &:hover {
        background-color: var(--s-color-fill-warning-light);
      }
    }

    &.disabled {
      background-color: var(--s-color-fill-disable);
      color: var(--s-color-content-disable);
      opacity: 0.64;

      &:hover {
        border-color: var(--s-color-border-default);
        cursor: default;
      }
    }

    &:hover {
      background-color: var(--s-color-fill-default-hover);
      border: 1px solid var(--s-color-border-default-hover);
    }

    &:focus-within {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-hairline);
      outline-style: solid;
    }
  }

  .input-select-error-message {
    color: var(--s-color-content-warning);
    font: VAR(--s-typography-caption-regular);
  }
}
