.input-number-root {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);
  height: min-content;

  .input-number-label {
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .input-number {
    border-radius: var(--s-border-radius-small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--s-color-content-default);

    &.disabled {
      border-color: var(--s-color-border-default);
      background-color: var(--s-color-fill-disable);
      opacity: 0.64;
      input {
        background-color: var(--s-color-fill-disable);
      }

      button:hover {
        background-color: transparent;
      }

      button:active {
        outline: none;
      }
    }

    &:focus-within {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-fill-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    .add {
      border-radius: 0 var(--s-border-radius-small) var(--s-border-radius-small)
        0;
      border-left: 0;

      &:active {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-fill-highlight);
        outline-offset: -1px;
        outline-style: solid;
      }
    }

    .subtract {
      border-right: 0;
      z-index: 2;
      border-radius: var(--s-border-radius-small) 0 0
        var(--s-border-radius-small);

      &:active {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-fill-highlight);
        outline-offset: -1px;
        outline-style: solid;
      }
    }

    button {
      display: flex;
      align-items: center;
      padding: var(--s-spacing-xx-small);
      margin: 0;
      background-color: var(--s-color-fill-default);
      cursor: pointer;
      color: var(--s-color-content-default);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);

      &:hover {
        background-color: var(--s-color-fill-default-hover);
      }

      &:focus-visible {
        outline: none;
      }

      &:disabled {
        background-color: var(--s-color-fill-disable);
        color: var(--s-color-content-disable);
        cursor: auto;
      }
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input {
      box-sizing: border-box;
      text-align: center;
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
      width: 100%;
      padding: var(--s-spacing-xx-small);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      background-color: var(--s-color-fill-default);

      &:hover {
        background-color: var(--s-color-fill-default-hover);
      }

      &:focus-visible {
        outline: none;
        background-color: var(--s-color-fill-default-hover);
      }

      &::placeholder {
        text-align: center;
        color: var(--s-color-content-placeholder);
        font: var(--s-typography-paragraph-regular);
      }
    }

    .input.error {
      background-color: var(--s-color-fill-warning-light);
      border: var(--s-border-width-hairline) solid var(--s-color-border-warning);
      color: var(--s-color-content-warning);
    }
  }

  .textError {
    color: var(--s-color-content-warning);
    font: var(--s-typography-caption-regular);
  }
}
