.input-number-root {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);
  height: min-content;

  .input-number-label {
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .input-number {
    border-radius: var(--s-border-radius-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--s-color-content-default);
    box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    &.disabled {
      border-color: var(--s-color-border-default);
      background-color: var(--s-color-fill-disable);
      opacity: 0.64;
      input {
        background-color: var(--s-color-fill-disable);

        &:hover {
          border-color: var(--s-color-border-default);
        }
      }

      button:hover {
        background-color: transparent;
      }

      button:active {
        outline: none;
      }
    }

    &:focus-within {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    .add:hover ~ input {
      border-right: var(--s-color-border-default-hover)
        var(--s-border-width-hairline) solid ;
    }

    .subtract:hover ~ input {
      border-left: var(--s-color-border-default-hover)
        var(--s-border-width-hairline) solid;
    }

    .add {
      display: flex;
      justify-content: center;
      height: 40px;
      width: 40px;
      box-sizing: border-box;
      border-radius: 0 var(--s-border-radius-medium)
        var(--s-border-radius-medium) 0;
      z-index: 2;
      border: 1px solid var(--s-color-border-default);
      border-left: none;

      &:active {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-border-highlight);
        outline-offset: -1px;
        outline-style: solid;
      }

      &:hover {
        border: 1px solid var(--s-color-border-default-hover);
        border-left: none;
      }
    }

    .subtract {
      display: flex;
      justify-content: center;
      height: 40px;
      width: 40px;
      box-sizing: border-box;
      border-right: 0;
      z-index: 2;
      border-radius: var(--s-border-radius-medium) 0 0
        var(--s-border-radius-medium);
      border: 1px solid var(--s-color-border-default);
      border-right: none;

      &:active {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-border-highlight);
        outline-offset: -1px;
        outline-style: solid;
      }

      &:hover {
        border: 1px solid var(--s-color-border-default-hover);
        border-right: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      padding: var(--s-spacing-xx-small);
      margin: 0;
      background-color: var(--s-color-fill-default);
      cursor: pointer;
      color: var(--s-color-content-default);
      &:hover + .input {
        background-color: red;
      }
      &:hover {
        background-color: var(--s-color-fill-default-hover);
      }

      &:focus-visible {
        outline: none;
      }

      &:disabled {
        background-color: var(--s-color-fill-disable);
        color: var(--s-color-content-disable);
        cursor: auto;

        &:hover {
          border-color: var(--s-color-border-default);
        }
      }
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input {
      height: 40px;
      box-sizing: border-box;
      text-align: center;
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
      width: 100%;
      padding: var(--s-spacing-xx-small);
      border: 1px solid var(--s-color-border-default);
      background-color: var(--s-color-fill-default);

      &:hover {
        border-color: var(--s-color-border-default-hover);
      }

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        text-align: center;
        color: var(--s-color-content-placeholder);
        font: var(--s-typography-paragraph-regular);
      }
    }

    .input.error {
      background-color: var(--s-color-fill-warning-light);
      border: var(--s-border-width-hairline) solid var(--s-color-border-warning);
      color: var(--s-color-content-warning);
    }
  }

  .textError {
    color: var(--s-color-content-warning);
    font: var(--s-typography-caption-regular);
  }
}
