$p-color: (
  white: #ffffff,
  black: #000000,
  purple: (
    50: #f6f3ff,
    100: #eee9fe,
    200: #dfd6fe,
    300: #c8b5fd,
    400: #ae8cf9,
    500: #945df5,
    600: #873bec,
    700: #7829d8,
    800: #6422b5,
    900: #531e94,
    950: #331065,
  ),
  neutral: (
    50: #f6f7f9,
    100: #eceef2,
    200: #d5d9e2,
    300: #b1bbc8,
    400: #98a4b5,
    500: #677790,
    600: #526077,
    700: #434e61,
    800: #3f495a,
    900: #343a46,
    950: #22262f,
  ),
  blue: (
    // Blue
    50: #eff3ff,
    100: #dce5fd,
    200: #c1d2fc,
    300: #96b5fa,
    400: #648ef6,
    500: #466cf2,
    600: #2a47e6,
    700: #2134d4,
    800: #212cac,
    900: #212b87,
    950: #181d53,
  ),
  green: (
    50: #f3faf4,
    100: #e4f4e7,
    200: #cae8d0,
    300: #a0d5ac,
    400: #6fb980,
    500: #4a9d5d,
    600: #39814a,
    700: #2f663c,
    800: #2a5134,
    900: #24432c,
    950: #0f2415,
  ),
  yellow: (
    50: #fbfbeb,
    100: #f7f6ca,
    200: #efea99,
    300: #e6d85e,
    400: #ddc532,
    500: #cdae25,
    600: #b18a1d,
    700: #8e651a,
    800: #76511d,
    900: #65441e,
    950: #3a240e,
  ),
  orange: (
    50: #fdf5ef,
    100: #fbe8d9,
    200: #f6ceb2,
    300: #f0ad81,
    400: #e9824e,
    500: #e4622b,
    600: #c8451f,
    700: #a9341c,
    800: #8d2d1f,
    900: #72281c,
    950: #3d110d,
  ),
  red: (
    50: #fdf3f3,
    100: #fce4e4,
    200: #fbcdcd,
    300: #f6abab,
    400: #ef7a7a,
    500: #e44f4f,
    600: #d44242,
    700: #af2626,
    800: #912323,
    900: #792323,
    950: #410e0e,
  ),
  pink: (
    50: #fdf2f7,
    100: #fce7f0,
    200: #fbcfe3,
    300: #f9a8cc,
    400: #f472ac,
    500: #ec4891,
    600: #db2777,
    700: #be1862,
    800: #9d1753,
    900: #831848,
    950: #500727,
  ),
  ocean: (
    50: #f0f8ff,
    100: #e0f0fe,
    200: #bae3fd,
    300: #7dcdfc,
    400: #38b3f8,
    500: #0e9ae9,
    600: #027ac7,
    700: #0361a1,
    800: #075385,
    900: #0c456e,
    950: #082c49,
  ),
  teal: (
    50: #f1fcfb,
    100: #cff8f2,
    200: #9ef1e5,
    300: #66e2d6,
    400: #36cbc0,
    500: #1dafa7,
    600: #138480,
    700: #15706e,
    800: #155a59,
    900: #164b4a,
    950: #062c2d,
  ),
);
