$p-color: (
  white: #ffffff,
  black: #000000,
  purple: (
    50: #faf5ff,
    100: #f3e8ff,
    200: #e9d5ff,
    300: #d8b4fe,
    400: #c084fc,
    500: #a855f7,
    600: #9333ea,
    700: #7e22ce,
    800: #6b21a8,
    900: #581c87,
    950: #331065,
  ),
  neutral: (
    50: #f6f8fb,
    100: #eff1f6,
    200: #dfe3eb,
    300: #c9d0db,
    400: #979fad,
    500: #666e7d,
    600: #485261,
    700: #323c4d,
    800: #1d2736,
    900: #0e1524,
    950: #030712,
  ),
  blue: (
    // Blue
    50: #edf5ff,
    100: #d8e8fe,
    200: #bcd9fe,
    300: #90c4fd,
    400: #5da3fa,
    500: #3980f6,
    600: #2160eb,
    700: #1a4cd8,
    800: #1c3eaf,
    900: #1d398a,
    950: #181d53,
  ),
  green: (
    50: #e6f8e7,
    100: #b3eab9,
    200: #80da8e,
    300: #46c867,
    400: #00b544,
    500: #00a025,
    600: #008a06,
    700: #007400,
    800: #005d00,
    900: #004700,
    950: #0a2912,
  ),
  yellow: (
    50: #fbfbeb,
    100: #f7f6ca,
    200: #efea99,
    300: #e6d85e,
    400: #ddc532,
    500: #cdae25,
    600: #b18a1d,
    700: #8e651a,
    800: #76511d,
    900: #65441e,
    950: #3a240e,
  ),
  orange: (
    50: #ffefe6,
    100: #ffd0b5,
    200: #ffb289,
    300: #ff9561,
    400: #f1793e,
    500: #dd6020,
    600: #c54a04,
    700: #a93800,
    800: #8b2a00,
    900: #6b2000,
    950: #3d110d,
  ),
  red: (
    50: #ffeee8,
    100: #ffcbbb,
    200: #ffa891,
    300: #ff866d,
    400: #ff654d,
    500: #f54533,
    600: #dc271f,
    700: #be0a11,
    800: #9d0009,
    900: #7f1d24,
    950: #450a0e,
  ),
  pink: (
    50: #fdf2f7,
    100: #fce7f0,
    200: #fbcfe3,
    300: #f9a8cc,
    400: #f472ac,
    500: #ec4891,
    600: #db2777,
    700: #be1862,
    800: #9d1753,
    900: #831848,
    950: #500727,
  ),
  ocean: (
    50: #f0f8ff,
    100: #e0f0fe,
    200: #bae3fd,
    300: #7dcdfc,
    400: #38b3f8,
    500: #0e9ae9,
    600: #027ac7,
    700: #0361a1,
    800: #075385,
    900: #0c456e,
    950: #082c49,
  ),
  teal: (
    50: #f1fcfb,
    100: #cff8f2,
    200: #9ef1e5,
    300: #66e2d6,
    400: #36cbc0,
    500: #1dafa7,
    600: #138480,
    700: #15706e,
    800: #155a59,
    900: #164b4a,
    950: #062c2d,
  ),
);
