$p-color: (
  white: #ffffff,
  black: #000000,
  purple: (
    50: #f6f3ff,
    100: #eee9fe,
    200: #dfd6fe,
    300: #c8b5fd,
    400: #ae8cf9,
    500: #945df5,
    600: #873bec,
    700: #7829d8,
    800: #6422b5,
    900: #531e94,
    950: #331065,
  ),
  neutral: (
    50: #f9fafb,
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
    950: #030712,
  ),
  blue: (
    // Blue
    50: #eff3ff,
    100: #dce5fd,
    200: #c1d2fc,
    300: #96b5fa,
    400: #648ef6,
    500: #466cf2,
    600: #2a47e6,
    700: #2134d4,
    800: #212cac,
    900: #212b87,
    950: #181d53,
  ),
  green: (
    50: #f2fbf3,
    100: #e0f8e4,
    200: #c2f0ca,
    300: #92e3a1,
    400: #5bcd71,
    500: #27A03F,
    600: #238636,
    700: #217431,
    800: #1f5c2b,
    900: #1b4c26,
    950: #0a2912,
  ),
  yellow: (
    50: #fbfbeb,
    100: #f7f6ca,
    200: #efea99,
    300: #e6d85e,
    400: #ddc532,
    500: #cdae25,
    600: #b18a1d,
    700: #8e651a,
    800: #76511d,
    900: #65441e,
    950: #3a240e,
  ),
  orange: (
    50: #fdf5ef,
    100: #fbe8d9,
    200: #f6ceb2,
    300: #f0ad81,
    400: #e9824e,
    500: #e4622b,
    600: #c8451f,
    700: #a9341c,
    800: #8d2d1f,
    900: #72281c,
    950: #3d110d,
  ),
  red: (
    50: #fef2f3,
    100: #fee2e4,
    200: #fecace,
    300: #fca5ab,
    400: #f8717a,
    500: #ee4551,
    600: #cf222e,
    700: #b91c27,
    800: #991b24,
    900: #7f1d24,
    950: #450a0e,
  ),
  pink: (
    50: #fdf2f7,
    100: #fce7f0,
    200: #fbcfe3,
    300: #f9a8cc,
    400: #f472ac,
    500: #ec4891,
    600: #db2777,
    700: #be1862,
    800: #9d1753,
    900: #831848,
    950: #500727,
  ),
  ocean: (
    50: #f0f8ff,
    100: #e0f0fe,
    200: #bae3fd,
    300: #7dcdfc,
    400: #38b3f8,
    500: #0e9ae9,
    600: #027ac7,
    700: #0361a1,
    800: #075385,
    900: #0c456e,
    950: #082c49,
  ),
  teal: (
    50: #f1fcfb,
    100: #cff8f2,
    200: #9ef1e5,
    300: #66e2d6,
    400: #36cbc0,
    500: #1dafa7,
    600: #138480,
    700: #15706e,
    800: #155a59,
    900: #164b4a,
    950: #062c2d,
  ),
);
