$p-spacing-2px: 2px;
$p-spacing-4px: 4px;
$p-spacing-8px: 8px;
$p-spacing-12px: 12px;
$p-spacing-16px: 16px;
$p-spacing-24px: 24px;
$p-spacing-32px: 32px;
$p-spacing-40px: 40px;
$p-spacing-48px: 48px;
$p-spacing-56px: 56px;
$p-spacing-64px: 64px;
