.aside-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: 0.5s;
  overflow-x: hidden;
  z-index: 98;

  &.open {
    display: flex;
    opacity: 1;
    background-color: var(--s-color-background-overlay);
  }
}

.aside-root {
  height: 100%;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -100vw;
  background-color: var(--s-color-fill-default);
  transition: 0.5s;
  z-index: 99;

  &.open {
    width: 50%;
    right: 0;
  }

  .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--s-color-fill-default);

    .aside-header {
      background-color: var(--s-color-fill-default);
      display: flex;
      flex-direction: column;
      padding: var(--s-spacing-medium);
      gap: var(--s-spacing-nano);
      border-bottom: 1px solid var(--s-color-border-default);

      .aside-title {
        align-items: center;
        color: var(--s-color-content-default);
        font: var(--s-typography-heading-medium);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .aside-description {
        color: var(--s-color-content-light);
        font: var(--s-typography-paragraph-regular);
        word-break: break-all;
      }
    }
    .aside-children {
      flex-grow: 1;
      max-height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::-webkit-scrollbar {
        width: 8px;
        border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--s-color-fill-default-light);
        border-radius: 12px;
      }
      .aside-content {
        display: flex;
        flex-direction: column;
        gap: var(--s-spacing-small);
        padding: var(--s-spacing-medium);
      }
    }

    .aside-footer {
      padding: var(--s-spacing-medium);
      border-top: var(--s-border-width-hairline) solid
        var(--s-color-border-default);
    }
  }
}

@media screen and (max-width: 490px) {
  .aside-root {
    &.open {
      width: 96%;
      right: 0;
    }
  }
}

.css-jspizm {
  overflow: hidden !important;
  * {
    overflow: hidden !important;
  }
}
