.card-root {
  width: 100%;
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  border-radius: var(--s-border-radius-medium);
  gap: var(--s-spacing-nano);
  background-color: var(--s-color-fill-default);

  .card-image img {
    width: 100%;
    max-height: 288px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    padding: var(--s-spacing-medium);
    h1 {
      font: var(--s-typography-heading-small);
      color: var(--s-color-content-default);
    }
    p {
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-light);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 0 var(--s-spacing-medium) var(--s-spacing-medium)
      var(--s-spacing-medium);
    gap: var(--s-spacing-small);
  }

  .card-footer {
    padding: 0 var(--s-spacing-medium) var(--s-spacing-medium)
      var(--s-spacing-medium);
  }
}
