@import "../../../scss/tokens/tokens.scss";

.table-list-root {
  overflow: auto;

  .table {
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    display: grid;

    grid-template-rows: auto;

    .th {
      box-sizing: border-box;
      padding: var(--s-spacing-xx-small) var(--s-spacing-small);
      text-align: left;
      background-color: var(--s-color-fill-default);
      text-transform: uppercase;
      color: var(--s-color-content-light);
      font: var(--s-typography-caption-strong);
    }

    // Define as linhas como grid
    .table-container {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .td {
      box-sizing: border-box;
      white-space: nowrap;
      background-color: var(--s-color-fill-default);
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
      border: none;

      &.sm {
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
      }

      &.md {
        padding: var(--s-spacing-small);
      }
      &.border {
        border-top: var(--s-border-width-hairline) solid
          var(--s-color-border-default);
      }
    }

    // Ajuste para o posicionamento fixo da primeira coluna
    .table-column:first-of-type,
    .th:first-of-type {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  // Estilo da barra de rolagem
  &::-webkit-scrollbar {
    height: 4px;
  }

  // Ajuste quando há overflow horizontal
  &.overflow-ativo {
    .table-column:first-of-type,
    .th:first-of-type {
      box-sizing: border-box;
      box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.04);
    }
  }
}
