@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-weight: 400;
  display: flex;
  user-select: none;
}

.material-symbols-outlined.sm {
  font-size: 16px;
}

.material-symbols-outlined.md {
  font-size: 24px;
}

.material-symbols-outlined.lg {
  font-size: 32px;
}
