.material-symbols-outlined {
  font-weight: 400;
  display: flex;
  user-select: none;
}

.material-symbols-outlined.sm {
  font-size: 16px;
}

.material-symbols-outlined.md {
  font-size: 24px;
}

.material-symbols-outlined.lg {
  font-size: 32px;
}
