.switch-root {
  display: flex;
  align-items: center;

  .switch {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 24px;
    height: 24px;
    border-radius: var(--s-border-radius-small);
    color: var(--s-color-content-default);
    user-select: none;
    cursor: pointer;

    &:hover {
      color: var(--s-color-content-highlight);
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-style: solid;
    }

    &.checked {
      color: var(--s-color-content-highlight);
      background-color: transparent;
      transition: all 0.3s ease;

      &:hover {
        color: var(--s-color-content-highlight);
      }
    }
    &.unchecked {
      transition: all 0.3s ease;
    }
  }

  .label {
    padding-left: var(--s-spacing-xx-small);
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-default);
    cursor: pointer;
    user-select: none;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .disabled {
    color: var(--s-color-content-disable);
    cursor: not-allowed;

    .checked,
    .unchecked,
    &:hover {
      color: var(--s-color-content-disable);
    }

    &:focus-visible {
      outline-width: none;
      outline-color: none;
      outline-style: none;
    }
  }
}

.switch-root:hover .unchecked {
  color: var(--s-color-content-highlight);
}