.data-picker-root {
  position: relative;

  .data-picker-day {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: var(--s-color-fill-default);
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-default);
    border-radius: var(--s-border-radius-medium);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
  }

  .data-picker-day.current-day {
    z-index: 2;
    border: var(--s-border-width-thin) solid var(--s-color-border-highlight);
  }

  .data-picker-day.current-day:hover {
    background-color: var(--s-color-fill-default-hover);
  }

  .data-picker-day.default:hover {
    background-color: var(--s-color-fill-default-hover);
  }

  .data-picker-day.default:focus-visible {
    z-index: 3;
    color: var(--s-color-content-on-color);
    background-color: var(--s-color-fill-highlight);
    outline-width: var(--s-border-width-thin);
    outline-color: var(--s-color-fill-highlight);
    outline-offset: var(--s-border-width-thin);
    outline-style: solid;
  }

  .data-picker-day.active {
    background-color: var(--s-color-fill-highlight);
    color: var(--s-color-content-on-color);
  }

  .data-picker-day.active:focus-visible {
    outline: none;
  }

  .data-picker-day.disable {
    color: var(--s-color-content-disable);
    cursor: default;
  }

  .data-picker {
    position: absolute;
    margin-top: var(--s-spacing-xx-small);
    width: 288px;
    max-width: 288px;
    padding: var(--s-spacing-small);
    background-color: var(--s-color-fill-default);
    border-radius: var(--s-border-radius-medium);
    box-shadow: var(--s-shadow-dropdown);
    flex-wrap: wrap;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-small);
    border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  }

  .data-picker-month {
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-default);
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
  }

  .data-picker-week-days {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font: var(--s-typography-caption-regular);
    color: var(--s-color-content-light);
  }

  .data-picker-week-days p {
    text-align: center;
    padding: var(--s-spacing-xx-small) 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .data-picker-days {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .data-picker-label {
    display: flex;
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .data-picker-ghost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .first-day-selected {
    background-color: var(--s-color-fill-highlight);
    border-radius: var(--s-border-radius-medium) 0 0
      var(--s-border-radius-medium);
    color: var(--s-color-content-on-color);
  }

  .first-day-selected:focus-visible {
    outline: none;
  }

  .last-day-selected {
    background-color: var(--s-color-fill-highlight);
    border-radius: 0 var(--s-border-radius-medium) var(--s-border-radius-medium)
      0;
    color: var(--s-color-content-on-color);
  }

  .last-day-selected:focus-visible {
    outline: none;
  }

  .data-picker-value .input {
    color: var(--s-color-content-default);
  }

  .data-picker-buttons-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    * {
      width: min-content;
    }
  }

  .data-picker-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 0 0 0 var(--s-spacing-xx-small);
    border-radius: var(--s-border-radius-medium);

    &:hover {
      background-color: var(--s-color-fill-default-hover);
    }
  }

  .data-picker-months-years {
    display: flex;
    gap: var(--s-spacing-xx-small);
  }

  .data-picker-overflow-container {
    max-height: 160px;
    overflow-y: auto;
    width: 100%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .data-picker-overflow-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-default);
    text-transform: capitalize;
    * {
      cursor: pointer;
    }
  }

  .month-item {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: var(--s-border-radius-medium);
    padding: var(--s-spacing-nano) 0;

    &.selected {
      top: 50%;
      background-color: var(--s-color-fill-highlight);
      color: #fff;

      &:hover {
        background-color: var(--s-color-fill-highlight-hover);
      }
    }

    &:hover {
      background-color: var(--s-color-fill-default-hover);
    }
  }

  .year-item {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: var(--s-border-radius-medium);
    padding: var(--s-spacing-nano) 0;

    &.selected {
      top: 50%;
      background-color: var(--s-color-fill-highlight);
      color: #fff;

      &:hover {
        background-color: var(--s-color-fill-highlight-hover);
      }
    }

    &:hover {
      background-color: var(--s-color-fill-default-hover);
    }
  }
}
