@use "../mixins/tokens" as tokens;
@use "./semantics/borders" as *;
@use "./semantics/colors" as *;
@use "./semantics/shadows" as *;
@use "./semantics/typographies" as *;
@use "./semantics/spacing" as *;

body {
  @include tokens.generateVars($semantic-spacing, spacing);

  @include tokens.generateVars($semantic-borders-width, border-width);

  @include tokens.generateVars($semantic-borders-radius, border-radius);

  @include tokens.generateVars($semantic-font-size, font-size);

  @include tokens.generateVars($semantic-font-weight, font-weight);

  @include tokens.generateVars($semantic-line-height, line-height);

  @include tokens.generateVars($semantic-typographies, typography);

  @include tokens.generateVars($semantic-shadows, shadow);
}

@layer theme {
  :root {
    @include tokens.generateVars($semantic-color-light, color);
    &[data-theme="dark"] {
      @include tokens.generateVars($semantic-color-dark, color);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--s-color-fill-default-light);
  border-radius: 12px;
}

@media screen and (max-width: 590px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: var(--s-typography-heading-x-large);
}

h2 {
  font: var(--s-typography-heading-large);
}

h3 {
  font: var(--s-typography-heading-medium);
}

h4 {
  font: var(--s-typography-heading-small);
}

h5 {
  font: var(--s-typography-heading-x-small);
}

h6 {
  font: var(--s-typography-label-large);
}

label {
  font: var(--s-typography-label-medium);
}

p {
  font: var(--s-typography-paragraph-regular);
}

strong {
  font: var(--s-typography-paragraph-strong);
}

small {
  font: var(--s-typography-caption-regular);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

[class*="col-"] {
  float: left;
  padding: 0 8px 16px 8px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
