.description-list-root {
  width: 100%;
  display: flex;
  padding: var(--s-spacing-small) 0;
  justify-content: space-between;

  align-items: start;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;

  &.row {
    flex-direction: row;

    * {
      width: 50%;
    }
  }

  &.column {
    gap: var(--s-spacing-xx-small);
    flex-direction: column;
  }

  .title {
    font: var(--s-typography-paragraph-strong);
    color: var(--s-color-content-default);
  }

  .description {
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-light);
  }
}
