@import '../../../scss/mixins/tokens.scss';

.notification {
  padding: var(--s-spacing-small);
  background-color: var(--s-color-fill-default);
  display: flex;
  gap: var(--s-spacing-xx-small);
  border-radius: var(--s-border-radius-small);
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  overflow: hidden;

  &.float {
    max-width: 368px;
    position: fixed;
    right: 24px;
    bottom: -100vw;
    box-shadow: var(--s-shadow-dropdown);
    &.open {
      animation: float 5s ease-in-out;
    }
  }

  &.dismissible {
    header {
      align-items: center;
    }
    .notification-icon {
      padding-top: var(--s-spacing-nano);
    }
  }

  .notification-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    header {
      display: flex;
      min-height: var(--s-spacing-large);
      justify-content: space-between;
      align-items: center;
      gap: var(--s-spacing-small);
    }

    .description {
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
      word-break: break-all;
      padding-bottom: var(--s-spacing-nano);
    }

    .title {
      font: var(--s-typography-heading-small);
      color: var(--s-color-content-default);
    }

    .notification-with-action {
      display: flex;
      width: min-content;
      margin-top: var(--s-spacing-x-small);
    }
  }

  .notification-icon {
    padding-top: var(--s-spacing-nano);

    &.primary {
      color: var(--s-color-content-highlight);
    }

    &.secondary {
      color: var(--s-color-content-default);
    }

    &.warning {
      color: var(--s-color-content-warning);
    }

    &.success {
      color: var(--s-color-content-success);
    }
  }
  
  &.primary {
    background-color: var(--s-color-fill-highlight-light);
    border: 1px solid var(--s-color-border-highlight-light);
    color: var(--s-color-content-highlight);

    .button-icon.plain.on-color {
      color: var(--s-color-content-highlight);

      &:hover {
        background-color: rgba(white, 0.8);
      }

      @include dark {
        &:hover {
          background-color: rgba(black, 0.8);
        }
      }
    }
  }

  &.secondary {
    background-color: var(--s-color-fill-default);
    border: 1px solid var(--s-color-border-default);
    color: var(--s-color-content-default);
  
    .button-icon.plain.on-color {
      color: var(--s-color-content-default);
  
      &:hover {
        background-color: rgba(black, 0.08);
      }
  
      @include dark {
        &:hover {
          background-color: rgba(black, 0.8);
        }
      }
    }
  }

  &.success {
    background-color: var(--s-color-fill-success-light);
    border: 1px solid var(--s-color-border-success-light);
    color: var(--s-color-content-success);

    .button-icon.plain.on-color {
      color: var(--s-color-content-success);

      &:hover {
        background-color: rgba(white, 0.8);
      }

      @include dark {
        &:hover {
          background-color: rgba(black, 0.8);
        }
      }
    }
  }

  &.warning {
    background-color: var(--s-color-fill-warning-light);
    border: 1px solid var(--s-color-border-warning-light);
    color: var(--s-color-content-warning);

      .button-icon.plain.on-color {
        color: var(--s-color-content-warning);

        &:hover {
          background-color: rgba(black, 0.08);
        }

        @include dark {
          &:hover {
            background-color: rgba(black, 0.8);
          }
        }
      }
  }
}

.notification.warning .description,
.notification.warning .title {
  color: var(--s-color-content-warning);
}

.notification.primary .description,
.notification.primary .title {
  color: var(--s-color-content-highlight);
}

.notification.success .description,
.notification.success .title {
  color: var(--s-color-content-success);
}

@media screen and (max-width: 490px) {
  .notification {
    &.float {
      bottom: -100vw;
      right: 24px;
      left: 24px;
      &.open {
        animation: floatMobile 5s ease-in-out;
      }
      &.dismissible {
        animation: floatDismissibleMobile 5s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes floatDismissibleMobile {
  0% {
    right: 24px;
    bottom: -100vw;
  }
  100% {
    bottom: 24px;
    right: 24px;
    left: 24px;
  }
}

@keyframes floatMobile {
  0% {
    right: 24px;
    bottom: -100vw;
  }
  20% {
    bottom: 24px;
    right: 24px;
    left: 24px;
  }
  80% {
    left: 24px;
    bottom: 24px;
    right: 24px;
  }
  100% {
    left: 100vw;
    right: -85vw;
    bottom: 24px;
  }
}

@keyframes floatDismissible {
  0% {
    right: 24px;
    bottom: -100vw;
  }
  100% {
    bottom: 24px;
    right: 24px;
  }
}

@keyframes float {
  0% {
    right: 24px;
    bottom: -100vw;
  }
  20% {
    bottom: 24px;
    right: 24px;
  }
  80% {
    bottom: 24px;
    right: 24px;
  }
  100% {
    right: -40vw;
    bottom: 24px;
  }
}
