.badge {
  font: var(--s-typography-caption-regular);
  padding: 0 var(--s-spacing-xx-small);
  border-radius: var(--s-border-radius-pill);
  width: min-content;
  height: min-content;
  color: var(--s-color-content-on-color);

  &.default {
    color: var(--s-color-content-default);
    background-color: var(--s-color-fill-default-light);
    border: 1px solid transparent;
  }

  &.light {
    border: 1px solid var(--s-color-border-default);
  }

  &.primary {
    color: var(--s-color-content-on-color);
    background-color: var(--s-color-fill-highlight);
  }

  &.warning {
    color: var(--s-color-content-on-color);
    background-color: var(--s-color-fill-warning);
  }

  &.success {
    color: var(--s-color-content-on-color);
    background-color: var(--s-color-fill-success);
  }

  &.primary.light {
    background-color: var(--s-color-fill-highlight-light);
    color: var(--s-color-content-highlight);
    border: 1px solid var(--s-color-border-highlight);
  }

  &.warning.light {
    background-color: var(--s-color-fill-warning-light);
    color: var(--s-color-content-warning);
    border: 1px solid var(--s-color-border-warning);
  }

  &.success.light {
    background-color: var(--s-color-fill-success-light);
    color: var(--s-color-content-success);
    border: 1px solid var(--s-color-border-success);
  }
}
