.tooltip-root {
  position: relative;
}

.tooltip-container {
  text-align: center;
  width: min-content;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: var(--s-spacing-xx-small);
  border-radius: var(--s-border-radius-medium);
  z-index: 99;
  font: var(--s-typography-caption-regular);
  color: var(--s-color-content-on-color);
  white-space: pre;
  background-color: var(--s-color-fill-highlight);

  p {
    line-height: var(--s-line-height-16);
    font-weight: var(--s-font-weight-medium);
  }
}

.tooltip-root.top .tooltip-container {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-root.bottom .tooltip-container {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-root.right .tooltip-container {
  top: 50%;
  left: 115%;
  transform: translateY(-50%);
}

.tooltip-root.left .tooltip-container {
  top: 50%;
  right: 115%;
  transform: translateY(-50%);
}
