.input-search-root {
  box-sizing: border-box;
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  border-radius: var(--s-border-radius-medium);
  padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
  justify-content: space-between;
  background-color: var(--s-color-fill-default);
  color: var(--s-color-content-placeholder);
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  cursor: text;
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

  &.disabled {
    cursor: auto;
    background-color: var(--s-color-fill-disable);
    color: var(--s-color-content-disable);
    opacity: 0.64;
  }

  &.disabled:hover {
    background-color: var(--s-color-fill-disable);
    color: var(--s-color-content-disable);
    border-color: var(--s-color-border-default);
  }

  &:hover {
    border: 1px solid var(--s-color-border-default-hover);
  }

  &:focus-within {
    outline-width: var(--s-border-width-thin);
    outline-color: var(--s-color-border-highlight);
    outline-offset: var(--s-border-width-thin);
    outline-style: solid;
    background-color: var(--s-color-fill-default);
    color: var(--s-color-content-default);
  }

  .input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--s-spacing-nano);

    input {
      border: none;
      background: transparent;
      width: 100%;
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
    }

    input::placeholder {
      color: var(--s-color-content-placeholder);
    }

    input:disabled::placeholder {
      color: var(--s-color-content-disable);
    }

    input:focus-visible {
      outline: none;
    }

    .input-search-button-close {
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      align-items: center;
    }

    .input-search-button-close.visible {
      opacity: 1;
    }

    .material-symbols-outlined.md {
      font-size: 20px;
    }
  }
}
