.page-root {
  grid-area: main;
  margin: var(--s-spacing-medium) var(--s-spacing-x-large);
  display: flex;
  flex-direction: column;
  max-width: 1280px;

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: var(--s-spacing-small);

    .page-header-title {
      display: flex;
      align-items: center;
      gap: var(--s-spacing-small);
      min-height: var(--s-spacing-x-large);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h1 {
        font: var(--s-typography-heading-large);
        line-height: var(--s-line-height-32);
        color: var(--s-color-content-default);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .page-header-actions {
      display: flex;

      gap: var(--s-spacing-xx-small);

      .button-icon-actions {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-root {
    margin: var(--s-spacing-medium) var(--s-spacing-small);
    .page-header {
      .page-header-actions {
        .button-actions {
          display: none;
        }
        .button-icon-actions {
          display: flex;
        }
      }
    }
  }
}
