.slider {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);
  min-width: 250px;

  .slider-label {
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .slider-container {
    display: flex;
    gap: var(--s-spacing-x-small);
    align-items: center;

    .slider-max-min {
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
    }

    .slider-background {
      width: 100%;
      height: 4px;
      position: relative;
      border-radius: 150px;
      background-color: var(--s-color-fill-default-light);
    }

    .slider-progress-bar {
      border-radius: 150px;
      height: 100%;
      background-color: var(--s-color-fill-highlight);
      transition: 0.01s width ease-in-out;
    }

    .slider-button {
      cursor: grab;
      background-color: var(--s-color-fill-highlight);
      width: 16px;
      height: 16px;
      border-radius: var(--s-border-radius-pill);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      transition: 0.01s left ease-in-out;
      &:hover {
        width: 20px;
        height: 20px;
      }

      &:focus-visible {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-fill-highlight);
        outline-offset: var(--s-border-width-thin);
        outline-style: solid;
      }
    }

    .slider-input {
      min-width: 64px;
      max-height: min-content;
      padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
      text-align: left;
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      border-radius: var(--s-border-radius-small);
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
      background-color: var(--s-color-fill-default);

      &:focus-visible {
        outline-width: var(--s-border-width-thin);
        outline-color: var(--s-color-fill-highlight);
        outline-offset: var(--s-border-width-thin);
        outline-style: solid;
      }
    }
  }
}
