@use "../../mixins/tokens" as tokens;
@use "../primitives/borders.scss" as *;

$semantic-borders-width: (
  none: tokens.getPrimitiveVar($p-borders, width, 0),
  hairline: tokens.getPrimitiveVar($p-borders, width, 1px),
  thin: tokens.getPrimitiveVar($p-borders, width, 2px),
  strong: tokens.getPrimitiveVar($p-borders, width, 4px),
  heavy: tokens.getPrimitiveVar($p-borders, width, 8px),
);

$semantic-borders-radius: (
  none: tokens.getPrimitiveVar($p-borders, radius, 0),
  small: tokens.getPrimitiveVar($p-borders, radius, 4px),
  medium: tokens.getPrimitiveVar($p-borders, radius, 8px),
  large: tokens.getPrimitiveVar($p-borders, radius, 16px),
  pill: tokens.getPrimitiveVar($p-borders, radius, 50%),
);
