@use "../../mixins/tokens" as tokens;
@use "../primitives/colors.scss" as *;

$semantic-color-light: (
  background: (
    default: tokens.getPrimitiveVar($p-color, neutral, 50),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, white),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 100),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 200),
    disable: tokens.getPrimitiveVar($p-color, neutral, 100),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    highlight-hover: tokens.getPrimitiveVar($p-color, purple, 500),
    highlight-light: tokens.getPrimitiveVar($p-color, purple, 50),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 500),
    success-light: tokens.getPrimitiveVar($p-color, green, 50),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 500),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 50),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 300),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 800),
    light: tokens.getPrimitiveVar($p-color, neutral, 600),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 500),
    disable: tokens.getPrimitiveVar($p-color, neutral, 400),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
  ),
);

$semantic-color-dark: (
  background: (
    default: tokens.getPrimitiveVar($p-color, neutral, 950),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, neutral, 900),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 800),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 700),
    disable: tokens.getPrimitiveVar($p-color, neutral, 800),
    highlight: tokens.getPrimitiveVar($p-color, purple, 600),
    highlight-hover: tokens.getPrimitiveVar($p-color, purple, 500),
    highlight-light: tokens.getPrimitiveVar($p-color, purple, 950),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 500),
    success-light: tokens.getPrimitiveVar($p-color, green, 950),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 500),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 950),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 600),
    highlight: tokens.getPrimitiveVar($p-color, purple, 400),
    success: tokens.getPrimitiveVar($p-color, green, 400),
    warning: tokens.getPrimitiveVar($p-color, orange, 400),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 100),
    light: tokens.getPrimitiveVar($p-color, neutral, 300),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 400),
    disable: tokens.getPrimitiveVar($p-color, neutral, 500),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: tokens.getPrimitiveVar($p-color, purple, 400),
    success: tokens.getPrimitiveVar($p-color, green, 400),
    warning: tokens.getPrimitiveVar($p-color, orange, 400),
  ),
);
