@use "../../mixins/tokens" as tokens;
@use "../primitives/colors.scss" as *;

@layer brand {
  :root {
    &[data-company="zeroz"] {
      --b-color-darkness: #{tokens.getPrimitiveVar($p-color, purple, 950)};
      --b-color-dark: #{tokens.getPrimitiveVar($p-color, purple, 900)};
      --b-color-base: #{tokens.getPrimitiveVar($p-color, purple, 600)};
      --b-color-medium: #{tokens.getPrimitiveVar($p-color, purple, 500)};
      --b-color-light: #{tokens.getPrimitiveVar($p-color, purple, 300)};
      --b-color-lightness: #{tokens.getPrimitiveVar($p-color, purple, 50)};
    }

    &[data-company="whitelabel"] {
      --b-color-darkness: #{tokens.getPrimitiveVar($p-color, blue, 950)};
      --b-color-dark: #{tokens.getPrimitiveVar($p-color, blue, 900)};
      --b-color-base: #{tokens.getPrimitiveVar($p-color, blue, 600)};
      --b-color-medium: #{tokens.getPrimitiveVar($p-color, blue, 500)};
      --b-color-light: #{tokens.getPrimitiveVar($p-color, blue, 300)};
      --b-color-lightness: #{tokens.getPrimitiveVar($p-color, blue, 50)};
    }
  }
}

$semantic-color-light: (
  background: (
    default: tokens.getPrimitiveVar($p-color, neutral, 50),
    highlight: var(--b-color-base),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, white),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 100,),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 50),
    disable: tokens.getPrimitiveVar($p-color, neutral, 100),
    highlight: var(--b-color-base),
    highlight-hover: var(--b-color-medium),
    highlight-light: var(--b-color-lightness),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 500),
    success-light: tokens.getPrimitiveVar($p-color, green, 50),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 500),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 50),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 200),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 400,),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 200),
    highlight: var(--b-color-base),
    highlight-light: var(--b-color-light),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-light: tokens.getPrimitiveVar($p-color, green, 300),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 300),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 800),
    light: tokens.getPrimitiveVar($p-color, neutral, 500),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 500),
    disable: tokens.getPrimitiveVar($p-color, neutral, 400),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: var(--b-color-base),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
  ),
);

$semantic-color-dark: (
  background: (
    default: tokens.getPrimitiveVar($p-color, neutral, 950),
    highlight: var(--b-color-base),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, neutral, 900),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 800),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 700),
    disable: tokens.getPrimitiveVar($p-color, neutral, 800),
    highlight: var(--b-color-base),
    highlight-hover: var(--b-color-medium),
    highlight-light: var(--b-color-darkness),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 500),
    success-light: tokens.getPrimitiveVar($p-color, green, 950),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 500),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 950),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 800),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 400),
    highlight: var(--b-color-base),
    highlight-light: var(--b-color-dark),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-light: tokens.getPrimitiveVar($p-color, green, 900),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 900),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 100),
    light: tokens.getPrimitiveVar($p-color, neutral, 300),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 400),
    disable: tokens.getPrimitiveVar($p-color, neutral, 500),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: var(--b-color-light),
    success: tokens.getPrimitiveVar($p-color, green, 300),
    warning: tokens.getPrimitiveVar($p-color, orange, 300),
  ),
);
