@use "../../mixins/tokens" as tokens;
@use "../primitives/colors.scss" as *;

@layer brand {
  :root {
    &[data-company="zeroz"] {
      --b-color-darkness: #{tokens.getPrimitiveVar($p-color, purple, 900)};
      --b-color-dark: #{tokens.getPrimitiveVar($p-color, purple, 800)};
      --b-color-medium: #{tokens.getPrimitiveVar($p-color, purple, 700)};
      --b-color-base: #{tokens.getPrimitiveVar($p-color, purple, 600)};
      --b-color-soft: #{tokens.getPrimitiveVar($p-color, purple, 400)};
      --b-color-light: #{tokens.getPrimitiveVar($p-color, purple, 100)};
      --b-color-lightness: #{tokens.getPrimitiveVar($p-color, purple, 50)};
    }

    &[data-company="whitelabel"] {
      --b-color-darkness: #{tokens.getPrimitiveVar($p-color, blue, 900)};
      --b-color-dark: #{tokens.getPrimitiveVar($p-color, blue, 800)};
      --b-color-medium: #{tokens.getPrimitiveVar($p-color, blue, 700)};
      --b-color-base: #{tokens.getPrimitiveVar($p-color, blue, 600)};
      --b-color-soft: #{tokens.getPrimitiveVar($p-color, blue, 400)};
      --b-color-light: #{tokens.getPrimitiveVar($p-color, blue, 100)};
      --b-color-lightness: #{tokens.getPrimitiveVar($p-color, blue, 50)};
    }
  }
}

$semantic-color-light: (
  background: (
    default: tokens.getPrimitiveVar($p-color, white),
    highlight: var(--b-color-base),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, white),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 50),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 100),
    disable: tokens.getPrimitiveVar($p-color, neutral, 200),
    highlight: var(--b-color-base),
    highlight-hover: var(--b-color-medium),
    highlight-light: var(--b-color-lightness),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 700),
    success-light: tokens.getPrimitiveVar($p-color, green, 50),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 700),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 50),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 200),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 400),
    highlight: var(--b-color-base),
    highlight-light: var(--b-color-light),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-light: tokens.getPrimitiveVar($p-color, green, 100),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 100),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 900),
    light: tokens.getPrimitiveVar($p-color, neutral, 500),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 500),
    disable: tokens.getPrimitiveVar($p-color, neutral, 400),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: var(--b-color-base),
    highlight-light: var(--b-color-base),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
  ),
  chart: (
    1: tokens.getPrimitiveVar($p-color, blue, 500),
    2: tokens.getPrimitiveVar($p-color, purple, 500),
    3: tokens.getPrimitiveVar($p-color, teal, 500),
    4: tokens.getPrimitiveVar($p-color, pink, 500),
    5: tokens.getPrimitiveVar($p-color, orange, 500),
    6: tokens.getPrimitiveVar($p-color, green, 500),
    7: tokens.getPrimitiveVar($p-color, ocean, 500),
    8: tokens.getPrimitiveVar($p-color, neutral, 500),
    9: tokens.getPrimitiveVar($p-color, red, 500),
    10: tokens.getPrimitiveVar($p-color, yellow, 400),
  ),
);

$semantic-color-dark: (
  background: (
    default: tokens.getPrimitiveVar($p-color, neutral, 900),
    highlight: var(--b-color-base),
    overlay: tokens.getPrimitiveVar($p-color, black, null, 64),
  ),
  fill: (
    default: tokens.getPrimitiveVar($p-color, neutral, 900),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 800),
    default-light: tokens.getPrimitiveVar($p-color, neutral, 700),
    disable: tokens.getPrimitiveVar($p-color, neutral, 600),
    highlight: var(--b-color-base),
    highlight-hover: var(--b-color-medium),
    highlight-light: var(--b-color-darkness),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-hover: tokens.getPrimitiveVar($p-color, green, 700),
    success-light: tokens.getPrimitiveVar($p-color, green, 900),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-hover: tokens.getPrimitiveVar($p-color, orange, 700),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 900),
  ),
  border: (
    default: tokens.getPrimitiveVar($p-color, neutral, 700),
    default-hover: tokens.getPrimitiveVar($p-color, neutral, 500),
    highlight: var(--b-color-soft),
    highlight-light: var(--b-color-medium),
    success: tokens.getPrimitiveVar($p-color, green, 600),
    success-light: tokens.getPrimitiveVar($p-color, green, 700),
    warning: tokens.getPrimitiveVar($p-color, orange, 600),
    warning-light: tokens.getPrimitiveVar($p-color, orange, 700),
  ),
  content: (
    default: tokens.getPrimitiveVar($p-color, neutral, 50),
    light: tokens.getPrimitiveVar($p-color, neutral, 300),
    placeholder: tokens.getPrimitiveVar($p-color, neutral, 300),
    disable: tokens.getPrimitiveVar($p-color, neutral, 500),
    on-color: tokens.getPrimitiveVar($p-color, white),
    highlight: var(--b-color-soft),
    highlight-light: var(--b-color-light),
    success: tokens.getPrimitiveVar($p-color, green, 100),
    warning: tokens.getPrimitiveVar($p-color, orange, 100),
  ),
  chart: (
    1: tokens.getPrimitiveVar($p-color, blue, 500),
    2: tokens.getPrimitiveVar($p-color, purple, 500),
    3: tokens.getPrimitiveVar($p-color, teal, 500),
    4: tokens.getPrimitiveVar($p-color, pink, 500),
    5: tokens.getPrimitiveVar($p-color, orange, 500),
    6: tokens.getPrimitiveVar($p-color, green, 500),
    7: tokens.getPrimitiveVar($p-color, ocean, 500),
    8: tokens.getPrimitiveVar($p-color, neutral, 500),
    9: tokens.getPrimitiveVar($p-color, red, 500),
    10: tokens.getPrimitiveVar($p-color, yellow, 400),
  ),
);
