@use "../../mixins/tokens" as tokens;
@use "../primitives/spacing.scss" as *;

$semantic-spacing: (
  quarck: $p-spacing-2px,
  nano: $p-spacing-4px,
  xx-small: $p-spacing-8px,
  x-small: $p-spacing-12px,
  small: $p-spacing-16px,
  medium: $p-spacing-24px,
  large: $p-spacing-32px,
  x-large: $p-spacing-40px,
  xx-large: $p-spacing-48px,
  huge: $p-spacing-56px,
);
