@use "../../mixins/tokens" as tokens;
@use "../primitives/typographies.scss" as *;

@function baseFont($font-weight: regular, $font-size: 1, $line-height: 24) {
  @return tokens.getPrimitiveVar($p-typographies, font-weight, $font-weight)
    calc(tokens.getPrimitiveVar($p-typographies, font-size-base) * $font-size)
    "/" tokens.getPrimitiveVar($p-typographies, line-height, $line-height)
    tokens.getPrimitiveVar($p-typographies, font-family-system);
}

$semantic-font-size: (
  base: tokens.getPrimitiveVar($p-typographies, font-size-base),
);

$semantic-font-weight: (
  thin: tokens.getPrimitiveVar($p-typographies, font-weight, thin),
  light: tokens.getPrimitiveVar($p-typographies, font-weight, light),
  regular: tokens.getPrimitiveVar($p-typographies, font-weight, regular),
  medium: tokens.getPrimitiveVar($p-typographies, font-weight, medium),
  semibold: tokens.getPrimitiveVar($p-typographies, font-weight, semibold),
  bold: tokens.getPrimitiveVar($p-typographies, font-weight, bold),
);

$semantic-line-height: (
  16: tokens.getPrimitiveVar($p-typographies, line-height, 16),
  20: tokens.getPrimitiveVar($p-typographies, line-height, 20),
  24: tokens.getPrimitiveVar($p-typographies, line-height, 24),
  32: tokens.getPrimitiveVar($p-typographies, line-height, 32),
);

$semantic-typographies: (
  heading-x-large: baseFont(medium, 2.3, 32),
  heading-large: baseFont(medium, 1.7),
  heading-medium: baseFont(medium, 1.4),
  heading-small: baseFont(medium, 1.1),
  heading-x-small: baseFont(medium, 1),
  label-small: baseFont(medium, 0.9),
  label-medium: baseFont(medium, 1),
  label-large: baseFont(medium, 1.1),
  paragraph-regular: baseFont(regular),
  paragraph-strong: baseFont(medium),
  caption-regular: baseFont(regular, 0.8),
  caption-strong: baseFont(medium, 0.8),
);
