.breadcrumb {
  display: flex;
  gap: var(--s-spacing-xx-small);
  align-items: center;
  color: var(--s-color-content-light);
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
}
