$skeleton-bg-color: var(--s-color-fill-default-light);
$skeleton-gradient-color-start: var(--s-color-fill-disable);
$skeleton-gradient-color-mid: var(--s-color-fill-disable);
$skeleton-gradient-color-end: var(--s-color-fill-disable);
$skeleton-gradient: linear-gradient(
  90deg,
  $skeleton-gradient-color-start 0,
  $skeleton-gradient-color-mid 50%,
  $skeleton-gradient-color-end 100%
);

@mixin skeleton {
  background-color: $skeleton-bg-color;
  background-image: $skeleton-gradient;
  background-repeat: no-repeat;
  will-change: background-position;
  animation: skeleton ease-in-out 2000ms forwards infinite;
}

.skeleton {
  position: relative;
  padding: 0px;
  border: none;
  box-shadow: none;
  pointer-events: none;
  inline-size: 100%;
  border-radius: var(--s-border-radius-medium);
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
}

.skeleton.no-circle::before {
  border-radius: var(--s-border-radius-medium);
  position: absolute;
  block-size: 100%;
  content: "";
  inline-size: 100%;
  @include skeleton;
}

.skeleton.circle::before {
  border-radius: var(--s-border-radius-pill);
  position: absolute;
  block-size: 100%;
  content: "";
  inline-size: 100%;
  @include skeleton;
}

@keyframes skeleton {
  0% {
    background-position: 100% 0;
    background-size: 0%;
  }
  50% {
    background-position: 100% 0;
    background-size: 100%;
  }
  100% {
    background-position: 100% 0;
    background-size: 0%;
  }
}
