.avatar label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--s-border-radius-pill);
  color: var(--s-color-content-highlight);
  width: fit-content;
}

.avatar img {
  border-radius: var(--s-border-radius-pill);
  object-fit: cover;
  border: none;
}

.avatar-icon,
.avatar-letter {
  background-color: var(--s-color-fill-highlight-light);

  &.sm {
    padding: var(--s-spacing-nano);
    height: 24px;
    width: 24px;
  }

  &.md {
    padding: var(--s-spacing-xx-small);
    height: 40px;
    width: 40px;
  }

  &.lg {
    padding: var(--s-spacing-small);
    height: 64px;
    width: 64px;
  }
}

.avatar-image .sm {
  height: 24px;
  width: 24px;
}

.avatar-image .md {
  height: 40px;
  width: 40px;
}

.avatar-image .lg {
  height: 64px;
  width: 64px;
}
