@use "../scss/tokens/semantics/colors.scss" as *;
@use "../scss/mixins/tokens" as tokens;
@use "../scss/tokens/semantics/borders.scss" as *;
@use "../scss/tokens/semantics/colors.scss" as *;
@use "../scss/tokens/semantics/shadows.scss" as *;
@use "../scss/tokens/semantics/typographies.scss" as *;
@use "../scss/tokens/semantics/spacing.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  @include tokens.generateVars($semantic-spacing, spacing);

  @include tokens.generateVars($semantic-borders-width, border-width);

  @include tokens.generateVars($semantic-borders-radius, border-radius);

  @include tokens.generateVars($semantic-font-size, font-size);

  @include tokens.generateVars($semantic-font-weight, font-weight);

  @include tokens.generateVars($semantic-line-height, line-height);

  @include tokens.generateVars($semantic-typographies, typography);

  @include tokens.generateVars($semantic-shadows, shadow);
}

@layer theme {
  :root {
    @include tokens.generateVars($semantic-color-light, color);
    &[data-theme="dark"] {
      @include tokens.generateVars($semantic-color-dark, color);
    }
  }
}

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slot {
  display: flex;
  align-items: center;
  gap: var(--s-spacing-xx-small);
  color: var(--s-color-content-highlight);
  border: var(--s-border-width-thin) solid var(--s-color-border-highlight);
  font: var(--s-typography-heading-small);
  padding: var(--s-spacing-small);
  border-radius: var(--s-border-radius-small);
  background-color: var(--s-color-fill-highlight-light);
}

h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: var(--s-typography-heading-x-large);
}

h2 {
  font: var(--s-typography-heading-large);
}

h3 {
  font: var(--s-typography-heading-medium);
}

h4 {
  font: var(--s-typography-heading-small);
}

h5 {
  font: var(--s-typography-heading-x-small);
}

h6 {
  font: var(--s-typography-label-large);
}

label {
  font: var(--s-typography-label-medium);
}

p {
  font: var(--s-typography-paragraph-regular);
}

strong {
  font: var(--s-typography-paragraph-strong);
}

small {
  font: var(--s-typography-caption-regular);
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
