.button {
  box-shadow:
    0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 1px var(--b-color-base) inset,
    0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
    0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
    0px 1px 2px 0px rgba(14, 21, 36, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--s-typography-label-medium);
  border-radius: var(--s-border-radius-medium);
  white-space: nowrap;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  border: none;
  gap: var(--s-spacing-nano);
  cursor: pointer;

  &.sm {
    height: 32px;
    padding: var(--s-spacing-nano) var(--s-spacing-x-small);
  }

  &.md {
    padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
    height: 40px;
  }

  &.primary {
    background-color: var(--s-color-fill-highlight);
    color: var(--s-color-content-on-color);

    &:hover {
      background-color: var(--s-color-fill-highlight-hover);
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &:disabled {
      cursor: auto;
      background-color: var(--s-color-fill-disable);
      opacity: 0.64;
      color: var(--s-color-content-disable);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
    }
  }

  &.secondary {
    background-color: var(--s-color-fill-default);
    color: var(--s-color-content-default);
    border: var(--s-border-width-hairline) solid var(--s-color-border-default);
    box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    &:hover {
      background-color: var(--s-color-fill-default-hover);
      border-color: var(--s-color-border-default-hover);
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &:disabled {
      opacity: 0.64;
      background-color: var(--s-color-fill-disable);
      color: var(--s-color-content-disable);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
    }
  }

  &.success {
    background-color: var(--s-color-fill-success);
    color: var(--s-color-content-on-color);
    box-shadow:
      0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
      0px 0px 0px 1px var(--s-color-border-success) inset,
      0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
      0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
      0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    &:hover {
      background-color: var(--s-color-fill-success-hover);
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &:disabled {
      opacity: 0.64;
      background-color: var(--s-color-fill-disable);
      color: var(--s-color-content-disable);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
    }
  }

  &.warning {
    background-color: var(--s-color-fill-warning);
    color: var(--s-color-content-on-color);
    box-shadow:
      0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
      0px 0px 0px 1px var(--s-color-border-warning) inset,
      0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
      0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
      0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    &:hover {
      background-color: var(--s-color-fill-warning-hover);
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &:disabled {
      opacity: 0.64;
      background-color: var(--s-color-fill-disable);
      color: var(--s-color-content-disable);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
    }
  }

  &.is-loading {
    opacity: 0.64;
    border: var(--s-border-width-hairline) solid var(--s-color-border-default);
    background-color: var(--s-color-fill-disable);
    color: var(--s-color-content-disable);
    box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);

    .loading {
      color: var(--s-color-content-disable);
    }
  }
}
