.file-uploader {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-x-small);
  max-width: 100%;

  p {
    font: var(--s-typography-caption-regular);
    color: var(--s-color-content-light);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .file-uploader-header {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-nano);

    h1 {
      font: var(--s-typography-label-medium);
      color: var(--s-color-content-default);
    }
  }
  .file-uploader-button {
    width: fit-content;
  }

  .file-uploader-footer {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-nano);
  }

  .file-uploader-items {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-small);

    .file-uploader-item {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      border-radius: var(--s-border-radius-medium);
      background-color: var(--s-color-fill-default-light);
      color: var(--s-color-content-default);

      &.file-uploader-item-error {
        border: var(--s-border-width-hairline) solid
          var(--s-color-border-warning);
        background-color: var(--s-color-fill-default);
      }

      .file-uploaded {
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font: var(--s-typography-paragraph-regular);

        &.file-uploaded-error {
          border-bottom: var(--s-border-width-hairline) solid
            var(--s-color-border-warning);
        }

        .file-uploaded-icon {
          display: flex;
          gap: var(--s-spacing-nano);
          align-items: center;

          .file-uploader-icon-error {
            color: var(--s-color-content-warning);
          }
        }
      }

      .file-uploader-error {
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
        color: var(--s-color-content-warning);
        font: var(--s-typography-paragraph-regular);
      }
    }
  }
}
