.colors {
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-medium);
  color: var(--s-color-content-default);

  header {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-xx-small);

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: var(--s-spacing-xx-small);

        a {
          text-decoration: none;
          color: var(--s-color-content-default);
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-xx-small);
  }
}
