.colors {
  padding: var(--s-spacing-xx-large) var(--s-spacing-xx-large);
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-xx-large);
  color: var(--s-color-content-default);

  pre {
    background-color: var(--s-color-fill-default-hover);
    padding: var(--s-spacing-xx-small);
    border-radius: var(--s-border-radius-medium);
    color: var(--s-color-content-default);
  }

  .colors-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-spacing-small);

    .color-square {
      border: var(--s-border-width-thin) solid var(--s-color-border-default);
      height: 48px;
      width: 48px;
      border-radius: var(--s-border-radius-small);
    }
  }

  header {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-xx-small);

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex-wrap: wrap;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          gap: var(--s-spacing-xx-small);

          color: var(--s-color-content-default);
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-x-small);

    img {
      max-width: 400px;
    }

    .themes {
      display: grid;
      gap: var(--s-spacing-small);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
