.card-dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: var(--s-border-radius-small);
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);
  background-color: var(--s-color-fill-default);
  box-shadow: var(--s-shadow-card);

  &:hover {
    border-color: var(--s-color-border-default-hover);
  }

  .card-dropdown-header {
    cursor: pointer;
    padding: var(--s-spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing-nano);

    & p {
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-light);
      word-break: break-all;
    }

    .card-dropdown-title {
      font: var(--s-typography-heading-small);
      color: var(--s-color-content-default);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-dropdown-button {
      height: min-content;
    }

    .card-dropdown-button {
      display: flex;

      &.open {
        transform: rotate(-180deg);
        transition: transform 0.3s linear;
      }

      &.close {
        transform: rotate(0deg);
        transition: transform 0.3s linear;
      }
    }
  }
  .card-dropdown-content {
    transition:
      padding 0.3s ease-out,
      opacity 0.3s ease-out;
    overflow: hidden;
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-light);
    margin-left: var(--s-spacing-medium);
    margin-right: var(--s-spacing-medium);

    &.close {
      height: 0;
      padding: 0;
      opacity: 0;
    }

    &.open {
      opacity: 1;
      padding-bottom: var(--s-spacing-medium);
    }
  }

  .card-dropdown-footer {
    background-color: var(--s-color-fill-default-light);
    border-top: var(--s-border-width-hairline) solid
      var(--s-color-border-default);
    padding: var(--s-spacing-medium);
    transition:
      visible 0.3s ease-out,
      opacity 0.3s ease-out;
    overflow: hidden;
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-light);

    &.close {
      height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 0;
    }

    &.open {
      opacity: 1;
      visibility: visible;
      padding-bottom: var(--s-spacing-medium);
    }
  }
}
