.Sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 256px;
  grid-area: aside;
  background-color: var(--s-color-fill-default);
  border-right: var(--s-border-width-hairline) solid
    var(--s-color-border-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--s-spacing-medium) var(--s-spacing-xx-small)
    var(--s-spacing-medium) var(--s-spacing-small);
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--s-color-fill-default-light);
    border-radius: 12px;
  }

  .brand {
    padding: 0 var(--s-spacing-xx-small) var(--s-spacing-xx-small);
  }

  .Sidebar-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-spacing-xx-small);
    border-radius: var(--s-border-radius-medium);
    background-color: var(--s-color-fill-default);
    color: var(--s-color-content-light);
    margin: 1px 0;
    border: var(--s-border-width-hairline) solid transparent;

    &.active {
      color: var(--s-color-content-default);
      background-color: var(--s-color-fill-default-hover);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
    }
  }

  .Sidebar-item:hover:not(.active) {
    background-color: var(--s-color-fill-default-hover);
  }

  .Sidebar-item:focus-visible {
    z-index: 2;
    outline-width: var(--s-border-width-thin);
    outline-color: var(--s-color-border-highlight);
    outline-offset: -2px;
    outline-style: solid;
  }

  .with-sub-item:active {
    background-color: var(--s-color-fill-default);
  }

  .Sidebar-item-header {
    font: var(--s-typography-label-medium);
    display: flex;
    align-items: center;
    gap: var(--s-spacing-xx-small);
  }

  .Sidebar-list {
    display: flex;
    flex-direction: column;

    .Sidebar-list-title {
      margin-top: var(--s-spacing-small);
      text-transform: uppercase;
      font: var(--s-typography-caption-strong);
      color: var(--s-color-content-light);
      padding: 0 var(--s-spacing-xx-small);
    }

    .Sidebar-sub-item {
      user-select: none;
      cursor: pointer;
      padding: var(--s-spacing-xx-small);
      display: flex;
      gap: var(--s-spacing-xx-small);
      align-items: center;
      padding: var(--s-spacing-xx-small);
      border-radius: var(--s-border-radius-medium);
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-light);
      background-color: var(--s-color-fill-default);
      border: var(--s-border-width-hairline) solid transparent;

      div:first-child {
        display: flex;
        align-items: center;
        opacity: 0;
      }

      &.active {
        color: var(--s-color-content-default);
        background-color: var(--s-color-fill-default-light);
        border: var(--s-border-width-hairline) solid
          var(--s-color-border-default);
        box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
        margin: 1px 0;
      }
    }

    .Sidebar-sub-item:hover {
      background-color: var(--s-color-fill-default-hover);
      div:first-child {
        opacity: 1;
      }
    }

    .Sidebar-sub-item:focus-visible {
      z-index: 2;
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: -2px;
      outline-style: solid;
    }

    .Sidebar-sub-item:active {
      opacity: 1;
    }

    .Sidebar-sub-item:hover {
      background-color: var(--s-color-fill-default-hover);
    }

    .Sidebar-item-with-action-open {
      display: flex;
      align-items: center;
      transform: rotate(-180deg);
      transition: 0.3s ease-out;
    }

    .Sidebar-item-with-action-close {
      opacity: 0;
      display: flex;
      align-items: center;
      transition: 0.3s ease-out;
    }
  }
}

.Sidebar .Sidebar-item:hover .Sidebar-item-with-action-close {
  opacity: 1;
}

.Sidebar-overlay {
  display: none;
}

@media screen and (max-width: 768px) {
  .Sidebar {
    padding: var(--s-spacing-medium) var(--s-spacing-small);
  }

  .Sidebar.close {
    border: none;
    left: -100vw;
    top: 0;
    z-index: 999;
    position: fixed;
    display: flex;
    transition: 0.5s;
  }

  .Sidebar.open {
    width: 256px;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s;
    position: fixed;
    display: flex;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .Sidebar-overlay {
    top: 0;
    right: 0;
    z-index: 998;
    position: fixed;
    background-color: var(--s-color-background-overlay);
    height: 100vh;
    width: 100%;
    justify-content: end;
    padding: var(--s-spacing-small);

    button {
      height: fit-content;
    }
  }

  .Sidebar-overlay.close {
    transition: 0.3s;
    opacity: 0;
  }

  .Sidebar-overlay.open {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.3s;
    opacity: 1;
  }
}
