.sb-show-main {
  background-color: transparent !important;
  transition: none !important;
}

.docs-story {
  background-color: inherit !important;
  transition: none !important;
  color: inherit;
}

.dark .sbdocs {
  background-color: var(--s-color-background-default) !important;
}

.white .sbdocs {
  background-color: var(--s-color-background-default) !important;
}

#storybook-root {
  background-color: var(--s-color-background-default) !important;
}

html {
  background-color: var(--s-color-background-default) !important;
}
