.Sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 256px;
  grid-area: aside;
  background-color: var(--s-color-fill-default);
  border-right: var(--s-border-width-hairline) solid
    var(--s-color-border-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-large);
  padding: var(--s-spacing-medium) var(--s-spacing-xx-small);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.3s;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--s-color-fill-default-light);
    border-radius: 12px;
  }

  .brand {
    padding: 0 var(--s-spacing-xx-small);
  }

  .Sidebar-list {
    display: flex;
    flex-direction: column;

    .Sidebar-list-title {
      text-transform: uppercase;
      font: var(--s-typography-caption-strong);
      color: var(--s-color-content-light);
      padding: 0 var(--s-spacing-xx-small);
    }

    .Sidebar-item {
      user-select: none;
      transition: 0.1s ease-out;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--s-spacing-xx-small);
      border-radius: var(--s-border-radius-small);
      background-color: var(--s-color-fill-default);
      color: var(--s-color-content-default);
    }

    .Sidebar-item:hover {
      background-color: var(--s-color-fill-default-hover);
    }

    .Sidebar-item:focus-visible {
      z-index: 2;
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-fill-highlight);
      outline-offset: -2px;
      outline-style: solid;
    }

    .Sidebar-item:active {
      background-color: var(--s-color-fill-highlight-light);
      color: var(--s-color-content-highlight);
      .Sidebar-item-header {
        color: var(--s-color-content-highlight);
      }
    }

    .active:active {
      background-color: var(--s-color-fill-default);
      color: var(--s-color-content-default);
      .Sidebar-item-header {
        color: var(--s-color-content-default);
      }
    }

    .Sidebar-item-header {
      font: var(--s-typography-paragraph-strong);
      color: var(--s-color-content-default);
      display: flex;
      align-items: center;
      gap: var(--s-spacing-xx-small);
    }

    .Sidebar-sub-item {
      user-select: none;
      cursor: pointer;
      padding: var(--s-spacing-xx-small);
      display: flex;
      gap: var(--s-spacing-xx-small);
      align-items: center;
      padding: var(--s-spacing-xx-small);
      border-radius: var(--s-border-radius-small);
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
      background-color: var(--s-color-fill-default);

      div:first-child {
        opacity: 0;
      }
    }

    .Sidebar-sub-item:hover {
      background-color: var(--s-color-fill-default-hover);
      div:first-child {
        opacity: 1;
      }
    }

    .Sidebar-sub-item:focus-visible {
      z-index: 2;
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-fill-highlight);
      outline-offset: -2px;
      outline-style: solid;
    }

    .Sidebar-sub-item:active {
      background-color: var(--s-color-fill-highlight-light);
      color: var(--s-color-content-highlight);
    }

    .Sidebar-item-with-action-open {
      transform: rotate(-180deg);
      transition: 0.3s ease-out;
    }

    .Sidebar-item-with-action-close {
      transition: 0.3s ease-out;
    }
  }
}

.Sidebar-overlay {
  display: none;
}

@media screen and (max-width: 768px) {
  .Sidebar.close {
    border: none;
    left: -100vw;
    top: 0;
    z-index: 999;
    position: fixed;
    display: flex;
    transition: 0.5s;
  }

  .Sidebar.open {
    width: 256px;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s;
    position: fixed;
    display: flex;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .Sidebar-overlay {
    top: 0;
    right: 0;
    z-index: 998;
    position: fixed;
    background-color: var(--s-color-background-overlay);
    height: 100vh;
    width: 100%;
    justify-content: end;
    padding: 24px;
  }

  .Sidebar-overlay.close {
    transition: 0.3s;
    opacity: 0;
  }

  .Sidebar-overlay.open {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.3s;
    opacity: 1;
  }
}
