.save-bar {
  display: flex;
  justify-content: center;
  background-color: var(--s-color-fill-default-light);
  padding: var(--s-spacing-x-small) 0;
  border-bottom: 1px solid var(--s-color-border-default);

  .save-bar-content {
    width: 100%;
    display: flex;
    padding: 0 var(--s-spacing-x-large);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;

    .save-bar-label {
      font: var(--s-typography-heading-small);
      color: var(--s-color-content-default);
    }

    .save-bar-buttons {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .save-bar {
    padding: var(--s-spacing-x-small) var(--s-spacing-small);

    .save-bar-content {
      padding: 0;
    }
  }
}
