$arrow-size: 6px;
$gap: calc(100% + $arrow-size + 4px);

.tooltip-root {
  position: relative;
  display: inline-flex;
}

.tooltip-container {
  position: absolute;
  padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
  border-radius: var(--s-border-radius-medium);
  background-color: var(--s-color-fill-highlight);
  color: var(--s-color-content-on-color);
  white-space: normal;
  word-wrap: break-word;
  width: max-content;
  max-width: 200px;
  z-index: 99;
  pointer-events: none;

  opacity: 0;
  transform: scale(0.92);
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }

  p {
    font: var(--s-typography-caption-regular);
    line-height: var(--s-line-height-16);
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: $arrow-size solid transparent;
  }
}

.tooltip-root.top .tooltip-container {
  bottom: $gap;
  left: 50%;
  transform: translateX(-50%) scale(0.92);
  &.visible {
    transform: translateX(-50%) scale(1);
  }
  &::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: var(--s-color-fill-highlight);
    border-bottom: none;
  }
}

.tooltip-root.bottom .tooltip-container {
  top: $gap;
  left: 50%;
  transform: translateX(-50%) scale(0.92);
  &.visible {
    transform: translateX(-50%) scale(1);
  }
  &::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: var(--s-color-fill-highlight);
    border-top: none;
  }
}

.tooltip-root.right .tooltip-container {
  top: 50%;
  left: $gap;
  transform: translateY(-50%) scale(0.92);
  &.visible {
    transform: translateY(-50%) scale(1);
  }
  &::before {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-right-color: var(--s-color-fill-highlight);
    border-left: none;
  }
}

.tooltip-root.left .tooltip-container {
  top: 50%;
  right: $gap;
  transform: translateY(-50%) scale(0.92);
  &.visible {
    transform: translateY(-50%) scale(1);
  }
  &::before {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-left-color: var(--s-color-fill-highlight);
    border-right: none;
  }
}
