.slot {
  display: flex;
  align-items: center;
  gap: var(--s-spacing-xx-small);
  color: var(--s-color-content-highlight);
  border: var(--s-border-width-thin) solid var(--s-color-border-highlight);
  font: var(--s-typography-heading-small);
  padding: var(--s-spacing-small);
  border-radius: var(--s-border-radius-small);
  background-color: var(--s-color-fill-highlight-light);
}
