.data-table {
  display: flex;
  flex-direction: column;
  box-shadow: var(--s-shadow-card);
  overflow: auto;
  width: 100%;
  border-radius: var(--s-border-radius-medium);
  border: var(--s-border-width-hairline) solid var(--s-color-border-default);

  .data-table-body {
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    width: 100%;

    .data-table-body-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .data-table-body-content-row {
      display: flex;
      background-color: var(--s-color-fill-default);
      width: 100%;

      &:hover {
        .data-table-row-content {
          background-color: var(--s-color-fill-default-hover);
        }
        .data-table-body-content-checkbox {
          background-color: var(--s-color-fill-default-hover);
        }
      }

      .data-table-body-content-checkbox {
        transition: background-color 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
        border-top: var(--s-border-width-hairline) solid
          var(--s-color-border-default);
      }
    }

    &.overflowed {
      .data-table-body-header {
        .data-table-body-header-checkbox {
          position: sticky;
          z-index: 2;
          box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
          left: 0px;
          background-color: var(--s-color-fill-default-light);
        }

        .data-table-row-header:first-of-type {
          position: sticky;
          z-index: 2;
          box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
          left: 0px;
        }

        .data-table-body-header-checkbox + .first {
          position: sticky;
          z-index: 2;
          box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
          left: 52px;
          background-color: var(--s-color-fill-default-light);
        }
      }

      .data-table-body-content {
        .data-table-body-content-row:first-of-type {
          position: sticky;
          z-index: 2;
          box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
          left: 0px;
          background-color: var(--s-color-fill-default);
        }
      }

      .data-table-body-content-checkbox {
        position: sticky;
        z-index: 2;
        box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
        left: 0px;
        background-color: var(--s-color-fill-default);
      }

      .data-table-body-content-checkbox + .data-table-body-content-row {
        position: sticky;
        z-index: 2;
        box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.08);
        left: 52px;
        background-color: var(--s-color-fill-default);
      }
    }

    &::-webkit-scrollbar {
      height: 0px;
      border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
      height: 4px;

      background: var(--s-color-fill-default-light);
      border-radius: 12px;
    }

    .data-table-body-header {
      display: flex;
      cursor: default;
      background-color: var(--s-color-fill-default-light);
      width: 100%;

      .data-table-body-header-checkbox {
        display: flex;

        justify-content: center;
        align-items: center;
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
      }

      .data-table-row-header {
        background-color: var(--s-color-fill-default-light);
        padding: var(--s-spacing-xx-small) var(--s-spacing-small);
        font: var(--s-typography-paragraph-regular);
        font-weight: var(--s-font-weight-medium);
        color: var(--s-color-content-light);
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        user-select: none;
        box-sizing: border-box;
        width: 100%;
        border: var(--s-border-width-hairline) solid transparent;

        .material-symbols-outlined {
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }

        &:hover {
          background-color: var(--s-color-fill-default-hover);
          border: var(--s-border-width-hairline) solid
            var(--s-color-border-default-hover);
          cursor: pointer;
          transition: border 0.2s ease-in-out;

          .material-symbols-outlined {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
          }
        }

        &.loading-skeleton {
          &:hover {
            background-color: var(--s-color-fill-default-light);
            border: var(--s-border-width-hairline) solid transparent;
            cursor: default;
          }
        }
      }
    }

    .data-table-body-content {
      display: flex;
      flex: 1;
      &:hover {
        background-color: var(--s-color-fill-default-hover);
      }

      &.loading-skeleton {
        &:hover {
          background-color: var(--s-color-fill-default);
        }
      }

      .data-table-row-content {
        padding: var(--s-spacing-small);
        font: var(--s-typography-paragraph-regular);
        color: var(--s-color-content-default);
        white-space: nowrap;
        width: 100%;
        border-top: var(--s-border-width-hairline) solid
          var(--s-color-border-default);
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
  .data-table-header {
    display: flex;
    padding: var(--s-spacing-x-small);
    border-bottom: var(--s-border-width-hairline) solid
      var(--s-color-border-default);
    width: 100%;

    &.fade-in {
      opacity: 0;
      animation: fadeIn 0.3s forwards;
    }
    &.fade-out {
      opacity: 1;
      animation: fadeOut 0.3s forwards;
    }
  }

  .data-table-header-rows-selected {
    background-color: var(--s-color-fill-highlight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--s-spacing-x-small);
    border-bottom: var(--s-border-width-hairline) solid
      var(--s-color-border-default);
    width: 100%;

    &.fade-in {
      opacity: 0;
      animation: fadeIn 0.3s forwards;
    }
    &.fade-out {
      opacity: 1;
      animation: fadeOut 0.3s forwards;
    }

    p {
      color: var(--s-color-content-on-color);
      animation: fadeNumber 0.3s ease-in-out;
    }

    .data-table-header-rows-selected-buttons {
      display: flex;
      gap: var(--s-spacing-xx-small);
      animation: fadeNumber 0.3s ease-in-out;
    }
  }

  .data-table-footer {
    width: 100%;
    border-bottom-right-radius: var(--s-border-radius-medium);
    border-bottom-left-radius: var(--s-border-radius-medium);
    border-top: var(--s-border-width-hairline) solid
      var(--s-color-border-default);

    .input-search-root {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeNumber {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
