.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus-visible {
    outline: var(--s-border-width-thin) solid var(--s-color-border-highlight);
    outline-offset: var(--s-border-width-thin);
  }

  &.plain {
    padding: 4px;
    border-radius: var(--s-border-radius-medium);
    color: var(--s-color-content-default);
    background-color: transparent;

    &:hover {
      background-color: var(--s-color-fill-default-hover);
    }

    &.on-color {
      background-color: transparent;
      color: var(--s-color-content-on-color);
      box-shadow: none;

      &:hover {
        background-color: rgba(white, 0.16);
      }
    }
  }

  &.sm {
    &.default {
      padding: 4px;
    }
  }

  &.md {
    &.default {
      padding: 8px;
    }
  }

  &.default {
    &.primary {
      color: var(--s-color-content-on-color);
      background-color: var(--s-color-fill-highlight);
      border-radius: var(--s-border-radius-medium);
      box-shadow:
        0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px var(--s-color-fill-highlight) inset,
        0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
        0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
        0px 1px 2px 0px rgba(14, 21, 36, 0.06);

      &:hover {
        background-color: var(--s-color-fill-highlight-hover);
      }
    }

    &.secondary {
      color: var(--s-color-content-default);
      background-color: var(--s-color-fill-default);
      border: var(--s-border-width-hairline) var(--s-color-border-default) solid;
      border-radius: var(--s-border-radius-medium);

      &:hover {
        background-color: var(--s-color-fill-default-hover);
        border: var(--s-border-width-hairline)
          var(--s-color-border-default-hover) solid;
      }
    }

    &.success {
      color: var(--s-color-content-on-color);
      background-color: var(--s-color-fill-success);
      border-radius: var(--s-border-radius-medium);
      box-shadow:
        0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px var(--s-color-fill-success) inset,
        0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
        0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
        0px 1px 2px 0px rgba(14, 21, 36, 0.06);

      &:hover {
        background-color: var(--s-color-fill-success-hover);
      }
    }

    &.warning {
      color: var(--s-color-content-on-color);
      background-color: var(--s-color-fill-warning);
      border-radius: var(--s-border-radius-medium);
      box-shadow:
        0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset,
        0px 0px 0px 1px var(--s-color-fill-warning) inset,
        0px -1px 2px 0px rgba(0, 0, 0, 0.24) inset,
        0px 1px 0.5px 0.5px rgba(255, 255, 255, 0.44) inset,
        0px 1px 2px 0px rgba(14, 21, 36, 0.06);

      &:hover {
        background-color: var(--s-color-fill-warning-hover);
      }
    }
  }

  &:disabled {
    cursor: auto;
    border-radius: var(--s-border-radius-medium);
    background-color: var(--s-color-fill-disable) !important;
    color: var(--s-color-content-disable) !important;
    box-shadow: none !important;
  }
}
