.button-icon {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;

  &.sm.plain {
    padding: 4px;
    height: 24px;
  }

  &.md.plain {
    padding: 4px;
    height: 32px;
  }

  &.plain {
    border-radius: var(--s-border-radius-small);
    color: var(--s-color-content-default);
    background-color: transparent;

    &:hover {
      background-color: var(--s-color-fill-default-hover);
    }

    &.on-color {
      color: var(--s-color-content-on-color);

      &:hover {
        background-color: rgba(white, 0.16);
      }
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &:disabled {
      cursor: auto;
      &:hover {
        color: var(--s-color-content-default);
        background-color: transparent;
      }
    }
  }

  &.sm.default > * {
    padding: var(--s-spacing-nano);
  }

  &.md.default > * {
    padding: var(--s-spacing-xx-small);
    font-size: 24px;
  }

  &.default {
    border-radius: 4px;

    &.md {
      height: 40px;
    }

    &:focus-visible {
      outline-width: var(--s-border-width-thin);
      outline-color: var(--s-color-border-highlight);
      outline-offset: var(--s-border-width-thin);
      outline-style: solid;
    }

    &.primary {
      background-color: var(--s-color-fill-highlight);
      color: var(--s-color-content-on-color);

      &:hover {
        background-color: var(--s-color-fill-highlight-hover);
      }

      &:disabled {
        cursor: auto;
        background-color: var(--s-color-fill-disable);
        opacity: 0.64;
      }
    }

    &.secondary {
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      background-color: var(--s-color-fill-default);
      color: var(--s-color-content-default);

      &:hover {
        background-color: var(--s-color-fill-default-hover);
        border-color: var(--s-color-border-default-hover);
      }

      &:disabled {
        cursor: auto;
        background-color: var(--s-color-fill-disable);
        opacity: 0.64;
      }
    }

    &.success {
      background-color: var(--s-color-fill-success);
      color: var(--s-color-content-on-color);

      &:hover {
        background-color: var(--s-color-fill-success-hover);
      }

      &:disabled {
        cursor: auto;
        background-color: var(--s-color-fill-disable);
        opacity: 0.64;
      }
    }

    &.warning {
      background-color: var(--s-color-fill-warning);
      color: var(--s-color-content-on-color);

      &:hover {
        background-color: var(--s-color-fill-warning-hover);
      }

      &:disabled {
        cursor: auto;
        background-color: var(--s-color-fill-disable);
        opacity: 0.64;
      }
    }
  }
}
