.slider {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing-nano);
  min-width: 250px;

  .slider-label {
    font: var(--s-typography-label-medium);
    color: var(--s-color-content-default);
  }

  .slider-container {
    display: flex;
    gap: var(--s-spacing-x-small);
    align-items: center;

    .slider-max-min {
      color: var(--s-color-content-default);
      font: var(--s-typography-paragraph-regular);
      flex-shrink: 0;
    }

    .slider-track-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 10px 0;
    }

    .slider-background {
      position: relative;
      width: 100%;
      height: 4px;
      border-radius: var(--s-border-radius-pill);
      background-color: var(--s-color-border-default);
    }

    .slider-progress-bar {
      height: 100%;
      border-radius: var(--s-border-radius-pill);
      background-color: var(--s-color-fill-highlight);
      transition: width 0.01s ease-in-out;
      pointer-events: none;
    }

    .slider-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: var(--s-border-radius-pill);
      background-color: var(--s-color-fill-highlight);
      cursor: pointer;
      z-index: 2;
      transition:
        left 0.01s ease-in-out,
        width 0.15s ease,
        height 0.15s ease;

      &:hover {
        width: 20px;
        height: 20px;
        margin-left: -2px;
      }

      &:focus-visible {
        outline: var(--s-border-width-thin) solid
          var(--s-color-border-highlight);
        outline-offset: var(--s-border-width-thin);
      }
    }

    .slider-input {
      flex-shrink: 0;
      min-width: 64px;
      padding: var(--s-spacing-xx-small) var(--s-spacing-x-small);
      border: var(--s-border-width-hairline) solid var(--s-color-border-default);
      border-radius: var(--s-border-radius-medium);
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
      background-color: var(--s-color-fill-default);
      box-shadow: 0px 1px 2px 0px rgba(14, 21, 36, 0.06);
      text-align: left;

      &:hover {
        border-color: var(--s-color-border-default-hover);
      }

      &:focus-visible {
        outline: var(--s-border-width-thin) solid
          var(--s-color-border-highlight);
        outline-offset: var(--s-border-width-thin);
      }
    }
  }
}
